<!DOCTYPE html>
<html>
<head>
<title>자화상 - 윤동주</title>
</head>
<body>
  <header>
      <h1>자화상 - 윤동주</h1>
      <hr size="10" align="left" width=100% noshade="noshade"></hr>
  </header>
  <!--본문부분-->
  <section>
    <header>
      <center>
        <h2><자화상></h2>
        <h3><U>윤동주</U></h3>
      </center>
    </header>
      <article>
      <hr align="center"width=50%></hr>
      <h4>산모퉁이를 돌아 논가 외딴 우물을 홀로 찾아가선 가만히 들여가봅니다.</h4>
      <h4>우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불 가을이 있습니다.</h4>
      <h4>그리고 한 사나이가 있습니다.</h4>
      <h4>어쩐지 그 사나이가 미워져 돌아갑니다.</h4>
      <h4>돌아가다 생각하니 그 사나이가 가엾어집니다. 도로 가 들여다보니 사나이는 그대로 있습니다.</h4>
      <h4>다시 그 사나이가 미워져 돌아갑니다.</h4>
      <h4>돌아가다 생각하니 그 사나이가 그리워집니다.</h4>
      <h4>우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불고 가을이 있고 추억처럼 사나이가 있습니다.</h4>
    </article>
    <aside>
      <article>
        <h2>윤동주 시인의 다른 </h2>
        <u1>
          <u1>
            <dd><li>서시</li></dd>
            <dd><li>자화상</li></dd>
            <dd><li>눈오는 지도</li></dd>
            <dd><li>새로운 길</li></dd>
            <dd><li>길</li></dd>
            <dd><li>별 헤는 밤</li></dd>
            <dd><li>참회록</li></dd>
            <dd><li>못 자는 밤</li></dd>
            <dd><li>비오는 밤</li></dd>
            <dd><li>소낙비</li></dd>
          </ul>
        </ul>
      </article>
    </aside>
  </section>
  <footer>
    <hr align="left" width=100% noshade="noshade"></hr>
    <small>©웹서비스프로그래밍®2021</small>
  </footer>
</body>
</html>
